header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    max-height: 25rem;
    min-width: 25rem;
    background-color: #25008a;
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
    margin-block: 3rem;
    margin-inline: 4rem;
  }
