header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    max-height: 45vh;
    min-width: 17vw;
    background-color: #25008a;
    background-image: url("https://www.transparenttextures.com/patterns/always-grey.png");
    margin-top: 12rem;
    margin-inline: auto;
}