.tweet {
    margin-block: 3rem;
    min-height: fit-content;
  }
  .tweet article header {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   background-color: inherit;
   background-image: none;
   height: fit-content;
   margin: 0;
 }
 
 .avatar {
   display: flex;
   flex-direction: row;
   padding-top: 1.5rem;
 }
 h3 {
   font-weight: 500;
   width: fit-content;
 }
 #username {
  color: gray;
  padding-inline: 1rem;
 }
 .article {
   display: flex;
   flex-flow: row wrap;
   border: black solid 3px;
   padding-inline: 2rem;
   font-weight: 600;
 }
 article:hover {
   box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
 }
 
  article  main {
   margin: 0;
   border-bottom: 3px solid rgb(83, 54, 16);
   padding-block: 1rem;
   width: 90vw;
   height: fit-content;
 }

 article footer p {
   font-size: 1.2rem;
 }
 .foot-content {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   width: 82vw;
 }
 #icons{
   letter-spacing: .4rem;
   padding: 1rem;
 }
 i:hover{
   color: rgb(248, 248, 13);
 }