
  
#tweets-container {
  width: 90%;
  display:flex;
  background-color:#f4f1ec;
  font-family: sans-serif;
  flex-direction: column;
}

.tweet {
  border: 3px solid black;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
  align-items: center;
}

.user-profile {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.tweet {
  margin-left: 10px;
  margin-right: 10px;
  max-width: 70px;
  max-height: 70px;
  height: auto;
  width: auto;
}

